div.red-line0 {
  z-index: 1000;
  left: 25px;
  top: 77px;
  width: 480px;
  height: 5px;
  background-color: red;
  position: absolute;
}

div.red-line1 {
  z-index: 1000;
  left: 25px;
  top: 143px;
  width: 480px;
  height: 5px;
  background-color: red;
  position: absolute;
}

div.red-line2 {
  z-index: 1000;
  left: 25px;
  top: 203px;
  width: 480px;
  height: 5px;
  background-color: red;
  position: absolute;
}
