div.reel {
  width: 148px; 
  height: 248px; 
  border: #000 3px solid;
  border-radius: 6px;
  padding: 5px 2px 2px 6px;
}
div.inner-reel {
  width: 143px; 
  height: 244px; 
  overflow: hidden;
  margin: 0;
  padding: 1px;
  background: linear-gradient(to bottom, rgba(245,245,245, 0.75) 0%,rgba(255,255,255, 1.0) 33%,rgba(245,245,245, 0.75) 66%,rgba(224,224,224, 0.85) 100%);
  border-radius: 3px;
}  
